In [43]:
import pandas as pd
from pandas import DataFrame

from utils import generateSeasons

from sklearn.preprocessing import *

In [44]:
path_to_resources = "X:/ProgramFiles/JetBrains/PycharmProjects/NBA-predictor/resources"

In [45]:
game_logs: pd.DataFrame = pd.concat([pd.read_csv(f"{path_to_resources}/game-logs/season_{season}.tsv", sep='\t') for season in generateSeasons(2018,2023)])

advanced_statistics: pd.DataFrame = pd.concat(
    [
        pd.read_csv(f"{path_to_resources}/per-game-statistics/season_{season}.tsv", sep='\t') for season in generateSeasons(2018,2023)
    ]
)

In [46]:
game_logs.shape

(14118, 27)

In [47]:
advanced_statistics.shape

(14118, 39)

In [48]:
game_logs.rename(columns={"Game_ID": "GAME_ID", "Team_ID": "TEAM_ID"}, inplace=True)

In [49]:
advanced_statistics.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'OFF_RATING', 'DEF_RATING', 'NET_RATING', 'AST_PCT',
       'AST_TOV', 'AST_RATIO', 'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT',
       'EFG_PCT', 'TS_PCT', 'PACE', 'PIE'],
      dtype='object')

In [50]:
chosen_columns = [
    'GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY',
       'OFF_RATING', 'DEF_RATING', 'TS_PCT', 'PACE'
]

In [51]:
dataset = game_logs.merge(advanced_statistics[chosen_columns], on=["GAME_ID", "TEAM_ID"], how='left')

In [52]:
dataset.shape

(14118, 34)

In [53]:
dataset.head(10)

,TEAM_ID,GAME_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,TOV,PF,PTS,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,OFF_RATING,DEF_RATING,TS_PCT,PACE
0,1610612737,21801220,"APR 10, 2019",ATL vs. IND,L,29,53,0.354,240,43,...,17,25,134,Hawks,ATL,Atlanta,122.9,125.0,0.560,108.50
1,1610612737,21801202,"APR 07, 2019",ATL @ MIL,L,29,52,0.358,240,40,...,11,28,107,Hawks,ATL,Atlanta,99.1,106.5,0.494,108.00
2,1610612737,21801181,"APR 05, 2019",ATL @ ORL,L,29,51,0.363,240,41,...,14,21,113,Hawks,ATL,Atlanta,102.7,134.2,0.525,110.50
3,1610612737,21801168,"APR 03, 2019",ATL vs. PHI,W,29,50,0.367,240,48,...,11,26,130,Hawks,ATL,Atlanta,126.2,118.4,0.623,103.00
4,1610612737,21801162,"APR 02, 2019",ATL @ SAS,L,28,50,0.359,240,43,...,11,18,111,Hawks,ATL,Atlanta,108.8,113.6,0.540,102.50
5,1610612737,21801145,"MAR 31, 2019",ATL vs. MIL,W,28,49,0.364,265,52,...,9,13,136,Hawks,ATL,Atlanta,114.3,115.4,0.542,106.87
6,1610612737,21801131,"MAR 29, 2019",ATL vs. POR,L,27,49,0.355,240,38,...,10,22,98,Hawks,ATL,Atlanta,98.0,116.8,0.489,100.50
7,1610612737,21801113,"MAR 26, 2019",ATL @ NOP,W,27,48,0.360,240,44,...,16,26,130,Hawks,ATL,Atlanta,115.0,105.3,0.599,113.50
8,1610612737,21801088,"MAR 23, 2019",ATL vs. PHI,W,26,48,0.351,240,49,...,12,25,129,Hawks,ATL,Atlanta,117.3,116.5,0.560,109.50
9,1610612737,21801076,"MAR 21, 2019",ATL vs. UTA,W,25,48,0.342,240,41,...,16,23,117,Hawks,ATL,Atlanta,110.4,108.6,0.602,105.50

In [54]:
dataset.columns

Index(['TEAM_ID', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'W', 'L', 'W_PCT',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'OFF_RATING',
       'DEF_RATING', 'TS_PCT', 'PACE'],
      dtype='object')

In [55]:
dataset.dtypes

TEAM_ID                int64
GAME_ID                int64
GAME_DATE             object
MATCHUP               object
WL                    object
W                      int64
L                      int64
W_PCT                float64
MIN                    int64
FGM                    int64
FGA                    int64
FG_PCT               float64
FG3M                   int64
FG3A                   int64
FG3_PCT              float64
FTM                    int64
FTA                    int64
FT_PCT               float64
OREB                   int64
DREB                   int64
REB                    int64
AST                    int64
STL                    int64
BLK                    int64
TOV                    int64
PF                     int64
PTS                    int64
TEAM_NAME             object
TEAM_ABBREVIATION     object
TEAM_CITY             object
OFF_RATING           float64
DEF_RATING           float64
TS_PCT               float64
PACE                 float64
dtype: object

In [56]:
columns_to_check = [
    'W_PCT', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS',  'OFF_RATING', 'DEF_RATING', 'TS_PCT', 'PACE'
]

dataset[columns_to_check].describe().round(decimals=3).astype(object).transpose()

              count     mean     std    min    25%     50%    75%    max
W_PCT       14118.0    0.501   0.176    0.0    0.4     0.5  0.621    1.0
FGM         14118.0   41.335   5.228   21.0   38.0    41.0   45.0   65.0
FGA         14118.0   88.624   7.063   63.0   84.0    88.0   93.0  123.0
FG_PCT      14118.0    0.467   0.055  0.269   0.43   0.467  0.505  0.687
FG3M        14118.0   12.309   3.878    2.0   10.0    12.0   15.0   29.0
FG3A        14118.0   34.203   7.001   10.0   29.0    34.0   39.0   70.0
FG3_PCT     14118.0    0.359   0.085  0.069  0.302   0.357  0.415  0.842
FTM         14118.0    17.48   5.927    0.0   13.0    17.0   21.0   44.0
FTA         14118.0   22.519    7.13    0.0   17.0    22.0   27.0   54.0
FT_PCT      14118.0    0.776   0.102    0.0  0.714   0.783  0.846    1.0
OREB        14118.0   10.276    3.76    0.0    8.0    10.0   13.0   29.0
DREB        14118.0   33.998   5.465   16.0   30.0    34.0   38.0   60.0
REB         14118.0   44.274   6.649   22.0   40.0    44.0   49.0   74.0
AST         14118.0   25.091   5.063    8.0   22.0    25.0   28.0   50.0
STL         14118.0    7.538   2.882    0.0    5.0     7.0    9.0   22.0
BLK         14118.0    4.872    2.48    0.0    3.0     5.0    6.0   20.0
TOV         14118.0   13.332    3.86    1.0   11.0    13.0   16.0   30.0
PF          14118.0   19.877    4.23    4.0   17.0    20.0   23.0   38.0
PTS         14118.0  112.458  12.601   68.0  104.0   112.0  121.0  176.0
OFF_RATING  14118.0  112.008  11.519   67.3  104.1  111.95  119.8  155.9
DEF_RATING  14118.0  112.008  11.519   67.3  104.1  111.95  119.8  155.9
TS_PCT      14118.0    0.572   0.062  0.356   0.53    0.57  0.614  0.808
PACE        14118.0   99.804   4.681   83.5   96.5    99.5  103.0  119.5

In [57]:
nulls_summary = pd.DataFrame(dataset.isnull().any(), columns=['Nulls'])
nulls_summary['Num_of_nulls [qty]'] = pd.DataFrame(dataset.isnull().sum())
nulls_summary['Num_of_nulls [%]'] = round((dataset.isnull().mean()*100),2)
nulls_summary

                   Nulls  Num_of_nulls [qty]  Num_of_nulls [%]
TEAM_ID            False                   0               0.0
GAME_ID            False                   0               0.0
GAME_DATE          False                   0               0.0
MATCHUP            False                   0               0.0
WL                 False                   0               0.0
W                  False                   0               0.0
L                  False                   0               0.0
W_PCT              False                   0               0.0
MIN                False                   0               0.0
FGM                False                   0               0.0
FGA                False                   0               0.0
FG_PCT             False                   0               0.0
FG3M               False                   0               0.0
FG3A               False                   0               0.0
FG3_PCT            False                   0               0.0
FTM                False                   0               0.0
FTA                False                   0               0.0
FT_PCT             False                   0               0.0
OREB               False                   0               0.0
DREB               False                   0               0.0
REB                False                   0               0.0
AST                False                   0               0.0
STL                False                   0               0.0
BLK                False                   0               0.0
TOV                False                   0               0.0
PF                 False                   0               0.0
PTS                False                   0               0.0
TEAM_NAME          False                   0               0.0
TEAM_ABBREVIATION  False                   0               0.0
TEAM_CITY          False                   0               0.0
OFF_RATING         False                   0               0.0
DEF_RATING         False                   0               0.0
TS_PCT             False                   0               0.0
PACE               False                   0               0.0

In [58]:
scaler = MinMaxScaler(feature_range=(0,1))

In [59]:
elo_ratings = pd.concat([pd.read_csv(f'{path_to_resources}/elo-ratings/season_{season}.tsv', sep='\t') for season in generateSeasons(2018,2023)])

elo_ratings_teams_x = elo_ratings[["Game_ID", "Team_ID_x", "ELO_x"]]
elo_ratings_teams_x.rename(columns={"Game_ID": "GAME_ID", "Team_ID_x": "TEAM_ID", "ELO_x": "ELO"}, inplace=True)

elo_ratings_teams_y = elo_ratings[["Game_ID", "Team_ID_y", "ELO_y"]]
elo_ratings_teams_y.rename(columns={"Game_ID": "GAME_ID", "Team_ID_y": "TEAM_ID", "ELO_y": "ELO"}, inplace=True)

elo_ratings_simplified = pd.concat([elo_ratings_teams_x, elo_ratings_teams_y], ignore_index=True)

elo_ratings_simplified

C:\Users\Mateusz\AppData\Local\Temp\ipykernel_1396\3421663110.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elo_ratings_teams_x.rename(columns={"Game_ID": "GAME_ID", "Team_ID_x": "TEAM_ID", "ELO_x": "ELO"}, inplace=True)
C:\Users\Mateusz\AppData\Local\Temp\ipykernel_1396\3421663110.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elo_ratings_teams_y.rename(columns={"Game_ID": "GAME_ID", "Team_ID_y": "TEAM_ID", "ELO_y": "ELO"}, inplace=True)

        GAME_ID     TEAM_ID     ELO
0      21800001  1610612738  1300.0
1      21800002  1610612744  1300.0
2      21800003  1610612749  1300.0
3      21800004  1610612751  1300.0
4      21800005  1610612754  1300.0
...         ...         ...     ...
14113  22301196  1610612760  1604.0
14114  22301197  1610612765  1196.0
14115  22301198  1610612762  1299.0
14116  22301199  1610612746  1521.0
14117  22301200  1610612758  1499.0

[14118 rows x 3 columns]

In [62]:
dataset = dataset.merge(elo_ratings_simplified, on=["GAME_ID", "TEAM_ID"], how='left')
dataset.describe().round(decimals=3).astype(object).transpose()

,count,mean,std,min,25%,50%,75%,max
TEAM_ID,14118.0,1610612751.507,8.647,1610612737.0,1610612744.0,1610612752.0,1610612759.0,1610612766.0
GAME_ID,14118.0,22055290.598,172856.046,21800001.0,21900535.25,22100161.0,22200695.75,22301230.0
W,14118.0,20.008,13.363,0.0,9.0,18.0,30.0,64.0
L,14118.0,19.883,13.253,0.0,9.0,18.0,29.0,68.0
W_PCT,14118.0,0.501,0.176,0.0,0.4,0.5,0.621,1.0
MIN,14118.0,241.562,6.873,240.0,240.0,240.0,240.0,340.0
FGM,14118.0,41.335,5.228,21.0,38.0,41.0,45.0,65.0
FGA,14118.0,88.624,7.063,63.0,84.0,88.0,93.0,123.0
FG_PCT,14118.0,0.467,0.055,0.269,0.43,0.467,0.505,0.687
FG3M,14118.0,12.309,3.878,2.0,10.0,12.0,15.0,29.0
FG3A,14118.0,34.203,7.001,10.0,29.0,34.0,39.0,70.0
FG3_PCT,14118.0,0.359,0.085,0.069,0.302,0.357,0.415,0.842
FTM,14118.0,17.48,5.927,0.0,13.0,17.0,21.0,44.0
FTA,14118.0,22.519,7.13,0.0,17.0,22.0,27.0,54.0
FT_PCT,14118.0,0.776,0.102,0.0,0.714,0.783,0.846,1.0
OREB,14118.0,10.276,3.76,0.0,8.0,10.0,13.0,29.0
DREB,14118.0,33.998,5.465,16.0,30.0,34.0,38.0,60.0
REB,14118.0,44.274,6.649,22.0,40.0,44.0,49.0,74.0
AST,14118.0,25.091,5.063,8.0,22.0,25.0,28.0,50.0
STL,14118.0,7.538,2.882,0.0,5.0,7.0,9.0,22.0
BLK,14118.0,4.872,2.48,0.0,3.0,5.0,6.0,20.0
TOV,14118.0,13.332,3.86,1.0,11.0,13.0,16.0,30.0
PF,14118.0,19.877,4.23,4.0,17.0,20.0,23.0,38.0
PTS,14118.0,112.458,12.601,68.0,104.0,112.0,121.0,176.0
OFF_RATING,14118.0,112.008,11.519,67.3,104.1,111.95,119.8,155.9
DEF_RATING,14118.0,112.008,11.519,67.3,104.1,111.95,119.8,155.9
TS_PCT,14118.0,0.572,0.062,0.356,0.53,0.57,0.614,0.808
PACE,14118.0,99.804,4.681,83.5,96.5,99.5,103.0,119.5
ELO,14118.0,1393.888,127.579,1008.0,1299.25,1407.0,1489.0,1777.0

In [65]:
normalized_array = scaler.fit_transform(dataset[columns_to_check + ["ELO"]])

normalized_dataset = DataFrame(normalized_array, columns=[columns_to_check + ["ELO"]])
normalized_dataset.describe().round(decimals=3).astype(object).transpose()

              count   mean    std  min    25%    50%    75%  max
W_PCT       14118.0  0.501  0.176  0.0    0.4    0.5  0.621  1.0
FGM         14118.0  0.462  0.119  0.0  0.386  0.455  0.545  1.0
FGA         14118.0  0.427  0.118  0.0   0.35  0.417    0.5  1.0
FG_PCT      14118.0  0.475  0.131  0.0  0.385  0.474  0.565  1.0
FG3M        14118.0  0.382  0.144  0.0  0.296   0.37  0.481  1.0
FG3A        14118.0  0.403  0.117  0.0  0.317    0.4  0.483  1.0
FG3_PCT     14118.0  0.375   0.11  0.0  0.301  0.373  0.448  1.0
FTM         14118.0  0.397  0.135  0.0  0.295  0.386  0.477  1.0
FTA         14118.0  0.417  0.132  0.0  0.315  0.407    0.5  1.0
FT_PCT      14118.0  0.776  0.102  0.0  0.714  0.783  0.846  1.0
OREB        14118.0  0.354   0.13  0.0  0.276  0.345  0.448  1.0
DREB        14118.0  0.409  0.124  0.0  0.318  0.409    0.5  1.0
REB         14118.0  0.428  0.128  0.0  0.346  0.423  0.519  1.0
AST         14118.0  0.407  0.121  0.0  0.333  0.405  0.476  1.0
STL         14118.0  0.343  0.131  0.0  0.227  0.318  0.409  1.0
BLK         14118.0  0.244  0.124  0.0   0.15   0.25    0.3  1.0
TOV         14118.0  0.425  0.133  0.0  0.345  0.414  0.517  1.0
PF          14118.0  0.467  0.124  0.0  0.382  0.471  0.559  1.0
PTS         14118.0  0.412  0.117  0.0  0.333  0.407  0.491  1.0
OFF_RATING  14118.0  0.505   0.13  0.0  0.415  0.504  0.593  1.0
DEF_RATING  14118.0  0.505   0.13  0.0  0.415  0.504  0.593  1.0
TS_PCT      14118.0  0.478  0.136  0.0  0.385  0.473  0.571  1.0
PACE        14118.0  0.453   0.13  0.0  0.361  0.444  0.542  1.0
ELO         14118.0  0.502  0.166  0.0  0.379  0.519  0.625  1.0